# .env

# DeepSeek
DEEPSEEK_API_KEY=

# 阿里百炼(correct)
DASHSCOPE_API_KEY=
DASHSCOPE_API_BASE=https://dashscope.aliyuncs.com/compatible-mode/v1

# web_search引擎
TAVILY_API_KEY=

# langsmith
LANGSMITH_API_KEY=
LANGSMITH_TRACING=true
LANGSMITH_PROJECT=langchain-course
